extends layout

block content
    .jumbotron
        .container
            img(src="/img/node_logo.svg.png" class="node-logo")
            h4.display-4 Node QuickStart pack
            p.lead
                | A quickstart pack for node app developers. 
            hr.my-4
            p
                | This repository is a quickstart pack for building a node application. This quickstart pack follow mvc pattern for your web app project.  
                p Some packages and view engine are pre-insalled and perfectly configured. So you can start building a node app easily. Deprecated problems are also handled but if you update any package then may be you should have configure for that new version. 

                p Feel free and comment for update this repository perfectly.

                b Features - 
                ul
                    li MVC pattern
                    li bower
                    li pug view template
                    li layout with bootstrap
                    li body parser
                    li flash messages and added with template
                    li express validator 
                    li mongoose configured
                    li passport (local-strategy)

            p.lead
                a.btn.btn-success(href='/login', role='button') Login page with flash
