doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/bower/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="style.css")
    body
        != messages('message',locals)
        block content
        br
        br
        hr
        footer  
            p Copyright &copy; 2020
        
        script(src="/bower/jquery/dist/jquery.js")
        script(src="/bower/popper.js/src/popper.js")
        script(src="/bower/bootstrap/dist/js/bootstrap.min.js")