extends layout

block content
    .container
        .row
            .col-md-4
            .col-md-4
                pre


                if errors
                    each error in errors
                        .alert.alert-danger=error.msg
                
                pre


                .login-form
                    form(action='/login', method='post')
                        h2.text-center Log in
                        .form-group
                            input.form-control(type='text', name="username", placeholder='Username')
                        .form-group
                            input.form-control(type='password', name="password", placeholder='Password')
                        .form-group
                            button.btn.btn-success.btn-block(type='submit') Log in
            
